<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302397930802-l4vr062indvb6la02vk5s1m8gt1h0cca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302397930802-l4vr062indvb6la02vk5s1m8gt1h0cca</string>
	<key>API_KEY</key>
	<string>AIzaSyBKt9QIcosxJBLxATH6wNqbq3ZSs5Pnolg</string>
	<key>GCM_SENDER_ID</key>
	<string>302397930802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCanliSohbetUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>flutter-lovers-323ec</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lovers-323ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302397930802:ios:70ce588b3f1298a1336b2b</string>
</dict>
</plist>